__pycache__/
*.pyc
slurm_logs/
data/merged_output_esm2/
data/merged_output_esm3/
data/optimized_embeddings_esm3/
data/wildtype_embeddings_esm3/
model_benchmarking/score_caches/skempi_esm2_score_cache.npz
model_benchmarking/score_caches/skempi_esm3_score_cache.npz
data/wildtype_embeddings_esmc/
data/optimized_embeddings_esmc/
data/wildtype_embeddings_saprot/
data/optimized_embeddings_saprot/
data/merged_output_esmc/
model_benchmarking/score_caches/skempi_esmc_score_cache.npz
tuning_v1/out/*.log
data/merged_output_saprot/
model_benchmarking/score_caches/skempi_saprot_score_cache.npz
